.container {
    position: absolute;
    margin-top: 4px;
    margin-left: 50vw;
    width: 15vw;
}

.container * {
    box-sizing: border-box;
}

.input {
    width: 300px;
    padding: 0.8vh 1vh;
    border: 2px solid #B7D3DF;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 700;
    transform: translateX(-150px);
}

.input:focus {
    border-color: #8FBDD3;
    outline: none;
}

.suggestions {
    position: absolute;
    background: #FFFFFF;
    border: 1.5px solid #8FBDD3;
    border-radius: 4px;
    width: 300px;
    z-index: 10;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
    transform: translateX(-150px);
}

.listItem {
    padding: 10px 15px;
    cursor: pointer;
}

.listItem:hover {
    background: #F6F6F6;
}